@font-face {
  font-family: "Stack Sans Notch";
  src: url("@/assets/fonts/StackSansNotch-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Stack Sans Notch";
  src: url("@/assets/fonts/StackSansNotch-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}

